<div class="rounded overflow-hidden {{this.cardSizeClass}}" ...attributes>
  {{#if @image}}
    <img class="w-full h-full" src={{@image}} alt="Card Back">
  {{else if @placeholder}}
  {{else}}
    <img class="w-full h-full" src="https://marvelcdb.com/bundles/cards/01029a.png" alt="Card Back">
  {{/if}}
</div>